* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,p,form,fieldset,table,td,div,dl,dt,dd,input,ul,ol,li {
	margin: 0;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.clearfix {
	zoom:1;
}

header nav {
    height: 60px;
    line-height: 60px;
    background-color: #333333;
    padding-left: 40px;
    min-width: 770px;
}
header ul {
    float: right;
}
header li {
    float: left;
    width: 90px;
    margin-right: 10px;
}
header a {
    text-decoration: none;
    color: #fff;
}
header a.current {
    color: #ccc;
}

.container {
    padding: 22px 20px;
    background-color: #DEDEDE;
    width: 100%;
    min-width: 770px;
}
.container a {
    color: #4593fd;
}
article, aside {
    padding: 35px 22px;
    -webkit-box-shadow:  2px 3px 10px #5A5A5A;
    -moz-box-shadow:  2px 3px 10px #5A5A5A;
    box-shadow:  2px 3px 10px #5A5A5A;
}

aside {
    background-color: #fff;
    width: 360px;
}
aside .aside-title {
    font-size: 14px;
    color: black;
    font-weight: bold;
    border-left: 2px solid #606c71;
    height: 35px;
    line-height: 35px;padding-left: 5px;
    margin-bottom: 10px;
}
aside form {
    font-size: 12px;
    width: 100%;
}
aside input::-webkit-input-placeholder {
color: black;
}
aside input:-moz-placeholder {
color: black;
}
aside input::-moz-placeholder {
color: black;
}
aside input:-ms-input-placeholder {
color: black;
}
aside form .hint {
    color: #cccccc;
    font-size: 10px;
}
aside form input {
    height: 24px;
    padding: 5px;
    vertical-align: middle;
}
aside form label {
    margin-right: 5px;
}
aside form label.row-left {
    width: 30%;
    text-align: right;
    display: inline-block;
    height: 36px;
}
aside form label.row-left.row-top {
    vertical-align: top;
}
aside form .space {
    color: #cccccc;
    font-size: 12px;
    vertical-align: top;
    text-align: left;
}
aside form textarea {
    width: 65%;
}
.intro-submit {
    background-color: #3355D0;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
}

.container .article-wraper {
    margin-right: 380px;
    min-width: 350px;
    /*因为左边图片的宽度为301px*/
}
.container ul {
    list-style: none;
}
figure {
    border: 1px solid #333333;
    width: 100px;
    padding: 10px;
    float: left;
    margin: 10px;
}
figcaption {
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
figure img {
    width: 80px;
    height: 80px;
}
table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}
table thead {
    background-color: #000000;
    color: #fff;
}
th, td {
    height: 24px;
    padding-left: 5px;
    text-align: left;
    border: 1px solid #CCCCCC;
}
table tfoot {
    background-color: #CCCCCC;
}
.container table a {
    color: #795da3;
}
article {
    margin-bottom: 22px;
    background-color: #fff;
}
h3 {
    color: #DEDEDE;
}
.container .article-wraper ol {
    margin: 10px 25px;
}
article p {
    font-size: 14px;
    line-height: 20px;
    text-indent: 2em;
}
span {
    color: grey;
    font-size: 12px;
}

footer {
    height: 70px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}